@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline: none;
    border:none;
    text-decoration:none;
    text-transform: capitalize;
}
html{
    /*font-size: 62.5%;*/
    overflow-x: hidden;
}
body, html{

  scroll-behavior: smooth;
}
ul, li{
	list-style: none;
}
  #draggable3 { width: 100px; height: 100px; padding: 0.5em; float: left; margin: 10px 10px 10px 0; }
  #droppable1 { width: 150px; height: 150px; padding: 0.5em; float: left; margin: 10px; }
 #resizable2 { width: 150px; height: 150px; padding: 0.5em; }
  #resizable2 h3 { text-align: center; margin: 0; }
  .ui-resizable-helper { border: 2px dotted #00F; }
  #selectable .ui-selecting { background: #FECA40; }
  #selectable .ui-selected { background: #F39814; color: white; }
  #selectable { list-style-type: none; margin: 0; padding: 0; width: 450px; }
  #selectable li { margin: 3px; padding: 1px; float: left; width: 100px; height: 80px; font-size: 4em; text-align: center; }
#selectable2{
	padding-left: 0;
}
#sortable{padding-left: 0;margin-left: 0}
#sortable li{
	padding: 15px 20px
}
#selectable2 li, .connectedSortable li{
	padding: 15px 25px;
}
  #sortable li span { position: absolute; margin-left: -1.3em; margin-top: 4px;}

